h2 {
    background-color: rgb(0, 0, 0);
    color: wheat;
    margin: auto;
    width: auto;
    height: 50px;
    justify-content: center; 
    align-items: center;
    display: flex;
}

.calci {
    background-color: rgb(218, 156, 64);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 28%;
    border-radius: 12px;
    border-top: 12px solid black;

}

body {
    margin: 0;
    padding: 0;  
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
}

#cal {
    width: 93%;
    padding-left: 20px;
    height: 50px;
    font-size: 20px;
    background-color:white;
    text-align: right;
}

.buttonss {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 12px;
    margin-bottom: 12px;
}

#eq {
    width: 215%;
}

button {
    height: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    cursor: pointer;
}